<div class="row whitebg padding3v">
	<div class="large-4 columns"><br>
	</div>
	<div class="large-16 columns">
		<h1 class="font2">Editing your franchise listing</h1>
		<p>If your franchise has an active listing on UKF, it is likely that at some point you will need to have your listing updated to keep up with your movements. If this is your current scenario, fill out our contact form below and with your desired amendments and we will get back to you shortly.<p>
		<%= render "partials/contactform" %>
	</div>
	<div class="large-4 columns"><br>
	</div>
</div>