<div class="row whitebg padding3v">
	<div class="large-4 columns"><br>
	</div>
	<div class="large-16 columns">
		<h1 class="merriweather font2"><i>Franchisor Information</i></h1>
	</div>
	<div class="large-4 columns"><br>
	</div>
</div>