<div class="row padding3v whitebg">
	<div class="large-4 columns">
		<br>
	</div>
	<div class="large-16 columns content">
		<h1 class="font2">Terms and Conditions</h1>
		<h4 class="merriweather weight100 font13"><i>Using the site</i></h4>
		<p>By using the services provided on UKF domains, you agree to not manipulate features in a way which exceeds there intended use. In the context of enquiries, this would be through contacting the same organisation more times than is neccessary. You also agree to have your website presence and actions tracked anonymously for analytic purpose, to further increase the quality of our services.</p>
		<h4 class="merriweather weight100 font13"><i>The submission of events</i></h4>
		<p>UKF events can be submitted by anyone, because of this, it is possible for personal to create an event on behalf of an organisation without the required permissions. While the approval process validates the quality of the event submisssion, it does not authenticate its legitimacy. If a franchise organisation you control or represent has been submitted without given permission, UKF holds a emoval process which will allow the event to be retracted from all aspects of the website and marketing campaigns.</p>
		<p>By submitting an event to UKF, you are providing us with the permissions to use your event information across all UKF services, including our marketing campaigns. Should this not be wanted in the future, UKF can remove your event through the removal process.</p>
		<h4 class="merriweather weight100 font13"><i>The generation of enquiries</i></h4>
		<p>To provide on-going value to both UKF users and franchise brands, UKF provides franchise enquiry forms which will contact the email domain of the relative franchise directly with the users information. By using this feature, you are agreeing to neither enquire out of false-interest or enquire to the same franchise multiple times unless appropriate to do so. The usage of this feature also provides UKF with the permission to forward your personal information to the relative franchise organisation.</p>
		<p>Additionally, to amplify the value given to site users, UKF provides a free mailing newsletter which reiterates site content. Upon using the enquiry form, you provide us with permission to use your information in UKF services such as the mailing list to provide relevant content. UKF provides the option to unsubscribe from this mailing list at any point in time.</p>
		<h4 class="merriweather weight100 font13"><i>The submission of testimonials</i></h4>
		<p>UKF testimonials can be submitted by anyone, because of this, it is possible for personal to write testimonials in the context of franchise brands without given permission to do so. In this scenario, upon request UKF will remove testimonials on behalf of their relative franchise and UKF therefore reserves the rights to remove, amend or decline created testimonials.</p>
		<h4 class="merriweather weight100 font13"><i>The submission of listings</i></h4>
		<p>UKF franchise listings can be submitted by anyone, because of this, it is possible for personal to create a profile on behalf of a franchise organisation without the required permissions. While the approval process validates the quality of the listing submission, it does not authenticate its legitimacy. If a franchise organisation you control or represent has been submitted without given permission, UKF holds a removal process which will allow the listing to be retracted from all aspects of the website and marketing campaigns.</p>
		<p>Upon submitting a listing and the acceptance of our terms and conditions, UKF is provided with the permissions to use your franchise brand and relative information in UKF-related services to provide free (unless states otherwise) marketing and advertising on UKF or related domains. These permissions can be retracted at any time by contacting UKF directly.</p>
		<p>In addition to this, UKF reserves the right to remove, amend or decline listings should the need to do so arise.</p>
	</div>
	<div class="large-4 columns">
		<br>
	</div>
</div>