/* line 5, C:/Users/Callum/Documents/directory/app/assets/stylesheets/footerlinks.css.scss */
::-webkit-input-placeholder {
  color: #333;
  font-style: italic;
}

/* line 10, C:/Users/Callum/Documents/directory/app/assets/stylesheets/footerlinks.css.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
  font-style: italic;
}

/* line 15, C:/Users/Callum/Documents/directory/app/assets/stylesheets/footerlinks.css.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
  font-style: italic;
}

/* line 20, C:/Users/Callum/Documents/directory/app/assets/stylesheets/footerlinks.css.scss */
:-ms-input-placeholder {
  color: #333;
  font-style: italic;
}

/* line 25, C:/Users/Callum/Documents/directory/app/assets/stylesheets/footerlinks.css.scss */
input[type="submit"] {
  background: #385375;
  box-shadow: none;
  border: none;
  color: #fff;
  padding: 0.4rem 2rem;
  border-radius: 2px;
  font-size: 0.7rem;
  text-transform: uppercase;
}
