/* line 5, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.pricerange {
  background: #363636;
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
  transition-duration: 300ms;
}

/* line 12, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.pricerange:hover {
  background: #333;
  transition-duration: 300ms;
}

/* line 17, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.latestlogo {
  height: 2.5rem;
}

/* line 21, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.latestlogocontainer {
  background: #fff;
}

/* line 25, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.latestbb {
  border-bottom: 1px solid #aaa;
}

/* line 29, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.latesticon {
  height: 1em;
}

/* line 33, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.latestlisting {
  border: 1px solid #c2c2c2;
  transition-duration: 300ms;
}

/* line 38, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.latestlisting:hover {
  border: 1px solid #A9A9A9;
  transition-duration: 300ms;
}

/* line 43, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.spotlightlogo {
  height: 3rem;
}

/* line 47, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.eventlearnmore {
  margin-bottom: 0;
  background: #353535;
  padding: 0.4em 0;
  color: #717171;
  font-size: 0.7rem;
}

/* line 55, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.eventcontainer {
  border: 1px solid #353535;
  transition-duration: 300ms;
}

/* line 60, C:/Users/Callum/Documents/directory/app/assets/stylesheets/home.css.scss */
.eventcontainer:hover {
  border: 1px solid #212121;
  transition-duration: 300ms;
}
