/* line 6, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.industrytitle {
  font-family: "Ubuntu";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.3rem;
}

/* line 13, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.singlelisting {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  transition-duration: 300ms;
}

/* line 20, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.singlelisting:hover {
  border: 1px solid #A9A9A9;
  transition-duration: 300ms;
}

/* line 25, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.listinglogo {
  height: 5.5rem;
  width: auto;
}

/* line 30, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.listingicontext {
  margin-left: 0.6rem;
}

/* line 34, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.listingicon {
  margin-bottom: 0.1rem;
}

/* line 38, C:/Users/Callum/Documents/directory/app/assets/stylesheets/industry.css.scss */
.viewfranchiseprofile {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #AAA;
}
