/* line 5, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.spinner {
  background-image: url(/assets/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 11, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.latestlisting {
  border: 1px solid #c2c2c2;
  transition-duration: 300ms;
}

/* line 16, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.latestlisting:hover {
  border: 1px solid #A9A9A9;
  transition-duration: 300ms;
}

/* line 21, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.latesticon {
  height: 1em;
}

/* line 25, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.spotlightlogo {
  height: 3rem;
}

/* line 29, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.latestbb {
  border-bottom: 1px solid #aaa;
}

/* line 33, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.logoborder {
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

/* line 39, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
#newstorycontainer {
  background: #cecece;
}

/* line 45, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
ul,
ol,
dl {
  font-size: 0.9rem;
}

/* line 49, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.oneclickenquiry {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Ubuntu";
  background: #fff;
  border-radius: 2px;
  padding: 0.7rem 3rem;
}

/* line 58, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.newstoryform::-webkit-input-placeholder {
  color: #333;
}

/* line 62, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.newstoryform:focus::-webkit-input-placeholder {
  color: #333;
}

/* line 66, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.newstoryform:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
}

/* line 70, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.newstoryform::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}

/* line 74, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.newstoryform:-ms-input-placeholder {
  color: #333;
}

/* line 78, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_story input[type="text"] {
  background: #ececec;
  box-shadow: none;
  border: none;
  color: #333;
  border-bottom: 1px solid #262626 s;
  font-size: 1rem;
  font-weight: 100;
}

/* line 88, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_story input[type="text"]:focus {
  background: #efefef;
  box-shadow: none;
  border: none;
  color: #000;
  border-bottom: 1px solid #262626 s;
  font-size: 1rem;
  font-weight: 100;
}

/* line 98, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_story textarea {
  background: #ececec;
  box-shadow: none;
  border: none;
  color: #333;
  border-bottom: 1px solid #262626 s;
  font-size: 0.9rem;
  font-weight: 100;
  height: 5rem;
}

/* line 109, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.charcount1 {
  position: absolute;
  right: 2rem;
}

/* line 114, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_story textarea:focus {
  background: #efefef;
  box-shadow: none;
  border: none;
  color: #333;
  border-bottom: 1px solid #262626 s;
  font-size: 0.9rem;
  font-weight: 100;
  height: 5rem;
}

/* line 125, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.storyborder {
  border-top: 1px solid #B0B0B0;
  height: 6.9rem;
}

/* line 131, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_story input[type="submit"] {
  width: 100%;
  border: none;
  box-shadow: none;
  background: #ececec;
  color: #333;
  outline: none;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-bottom: #4ac031 1px solid;
  transition-duration: 300ms;
}

/* line 146, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_story input[type="submit"]:hover {
  background: #efefef;
}

/* line 151, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.newstorybutton {
  font-size: 0.7rem;
  background: #C2C2C2;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 3px;
  margin-left: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 161, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_listing input[type="text"], .new_lead input[type="text"] {
  background: #373737;
  box-shadow: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #262626 s;
  font-size: 1rem;
  font-weight: 100;
}

/* line 172, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_listing select, .new_lead select {
  background-color: #373737;
  box-shadow: none;
  border: none;
  color: #A9A9A9;
  font-size: 0.9rem;
  border-bottom: 1px solid #262626 s;
  font-weight: 100;
  outline: none;
}

/* line 183, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_lead input[type="text"] {
  background-color: #373737;
  box-shadow: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #262626 s;
  font-size: 1rem;
  font-weight: 100;
  outline: none;
}

/* line 194, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_lead input[type="text"] {
  height: 2.3rem;
  font-size: 0.9rem;
}

/* line 199, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_listing input[type="submit"] {
  width: 100%;
  border: none;
  box-shadow: none;
  background: #434343;
  color: #fff;
  outline: none;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-bottom: #4ac031 1px solid;
  transition-duration: 300ms;
}

/* line 214, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_listing input[type="submit"]:hover, .new_lead input[type="submit"]:hover {
  background: #404040;
}

/* line 219, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_listing textarea {
  background: #373737;
  box-shadow: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #262626 s;
  font-size: 0.9rem;
  font-weight: 100;
  height: 5rem;
}

/* line 230, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.new_listing .textareabig {
  height: 20rem;
}

/* line 234, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.statsrow {
  border-bottom: 1px solid #c9c9c9;
}

/* line 238, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.iconcolumn {
  background: #e2e2e2;
  padding: 0.5rem 0;
}

/* line 243, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.facebookcolumn {
  background: #3E4B67;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 249, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.twittercolumn {
  background: #246F8C;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 255, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.googlepluscolumn {
  background: #85453D;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 261, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.linkedincolumn {
  background: #245A74;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 267, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.facebookcolumn:hover {
  background: #3E4B67;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 273, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.twittercolumn:hover {
  background: #246F8C;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 279, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.googlepluscolumn:hover {
  background: #85453D;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 285, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.linkedincolumn:hover {
  background: #245A74;
  padding: 0.5rem 0;
  transition-duration: 300ms;
}

/* line 292, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.column {
  background: #00aced;
  padding: 0.5rem 0;
}

/* line 297, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.stattext {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0.7rem;
}

/* line 303, C:/Users/Callum/Documents/directory/app/assets/stylesheets/listings.css.scss */
.requestinformation {
  background: #333;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  margin-bottom: 0;
}
