<div class="row padding10v whitebg">
	<div class="large-24 columns text-center">
		<h1 class="weight500">Coming Soon</h1>
		<p>This feature is currently in development and will be released shortly.</p>
		<a href="<%= root_path %>"><span style="font-size: 0.7rem;
background: #328ce7;
color: #fff;
padding: 0.4rem 2rem;
border-radius: 3px;">RETURN HOME</span></a>
	</div>
</div>