<%
meta title: ["The Money Zone", "UK Franchise"],
     description: "The Money Zone is your insight into the franchise industries developments and opportunities. Stay in sync with the latest ways to make money with franchising.",
     keywords: ["The Money Zone", "blog", "posts", "franchise information", "guides", "research", "money"]
%>

<style>
.postimage1{
	background: url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
	background-size: cover;
}
</style>


<div class="row padding2v moneybg">
  <div class="large-14 columns content2 postheader">
    <%= image_tag('moneyzonelogo.png', class: "moneyzonelogo") %>
  </div>
  <div class="large-10 medium-10 columns content2 text-right">
    <div class="row valign-normal right">
      <%= form_tag('/posts/subscribe', method: "post", id: "subscribe") do%>
        <div class="large-18 medium-18 columns text-right mailer">
          <%= email_field(:email, :email, {id: "mailersub", placeholder: "Sign up to our newsletter", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Sign up to our newsletter'" }) %>
        </div>
        <div class="large-6 medium-6 columns text-right mailer">
          <%= submit_tag("Submit", id: "mailersubmit", class: "ubuntu") %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">
    (function() {

        $(function() {

          $(function() {
            $('.row1').matchHeight();
          });

          $(function() {
            $('.row2').matchHeight();
          });

          $(function() {
            $('.mailer').matchHeight();
          });

          
        });

    })();
</script>
