// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas img{
	max-width : none;
}

.stattext{
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0.7rem;
}

.statsrow{
	border-bottom: 1px solid #c9c9c9;
}

.iconcolumn{
	background: #e2e2e2;
	padding: 0.5rem 0;
}

.eventsbg{
  background: #fff;
	border-bottom: 2px solid #5B8E8C;
}

.datetext{
	color: #949494;
}

.eventboxborder {
border-top: 1px solid #ececec;
border-left: 1px solid #ececec;
border-bottom: 1px solid #ececec;
}


.neweventplus{
padding-bottom: 3px;
padding-left: 3px;
height: 12px;
}

.new_event textarea{
	background: #f7f7f7;
	box-shadow: none;
	border: none;
	color: #333;
	border-bottom: 1px solid #262626s;
	font-size: 0.9rem;
	font-weight: 100;
	height: 5rem
}

.new_event textarea:focus{
	background: #f7f7f7;
	box-shadow: none;
	border: none;
	color: #333;
	border-bottom: 1px solid #262626s;
	font-size: 0.9rem;
	font-weight: 100;
	height: 5rem
}


.new_event input[type="submit"]{
width: 100%;
border: none;
box-shadow: none;
background: #f7f7f7;
color: #333;
outline: none;
padding: 1rem 0;
font-weight: 500;
font-size: 0.9rem;
text-transform: uppercase;
border-bottom: rgb(74, 192, 49) 1px solid;
transition-duration: 300ms;
}

.new_event input[type="submit"]:hover{
	background: #ececec;
}

.eventslogo{
	padding-bottom: 0.65rem;
	padding-right: 2.1rem;
}

.addnewevent{
	background: #ececec;
	border-radius: 3px;
	padding: 0.4em 3em;
	font-weight: 500;
}

.eventheader{
	position: relative;
	top: 0.8rem;
}

.singleevent{
	background: #fff;
	border: 1px solid #ececec;
	transition-duration: 300ms;
}

.singleevent:hover{
	border: 1px solid #dadada;
	transition-duration: 300ms;
}

.dateline{
background: #f0f0f0;
color: #696969;
padding-top: 1rem;
padding-bottom: 1rem;
}

.moreline{
	background: #ececec;
	color: #696969;
	padding-top: 0.5rem;
	padding-bottom: 0.4rem;
}

.eventsformcontainer{
	background: #e0e0e0;
}

.new_event input[type="text"]{
	background: #f7f7f7;
	box-shadow: none;
	border: none;
	color: #333;
	border-bottom: 1px solid #262626s;
	font-size: 1rem;
	font-weight: 100;
}

.new_event input[type="text"]:focus{
	background: #fff;
	box-shadow: none;
	border: none;
	color: #000;
	border-bottom: 1px solid #262626s;
	font-size: 1rem;
	font-weight: 100;
}

.eventnewform::-webkit-input-placeholder {
   color: #333;
}

.eventnewform:focus::-webkit-input-placeholder{
   color: #333;
}

.eventnewform:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

.eventnewform::-moz-placeholder {  /* Firefox 19+ */
   color: #333; 
}

.eventnewform:-ms-input-placeholder {  
   color: #333;
}