// Place all the styles related to the footerlinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::-webkit-input-placeholder {
   color: #898989;
}

:-moz-placeholder { /* Firefox 18- */
   color: #898989;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #898989;
}

:-ms-input-placeholder {  
   color: #898989; 
}

.margin1overide{
	margin-top: 1rem !important;
	margin-bottom: 1rem !important; 
}
