// Place all the styles related to the HOME controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepostimageoverlay{
	background: rgba(51, 51, 51, 0.85);
}

.industrytitle{
	font-family: "Ubuntu";
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.3rem;
}

.singlelisting{
	background: #fff;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	transition-duration: 300ms;
}

.singlelisting:hover{
	border: 1px solid #A9A9A9;
	transition-duration: 300ms;
}

.listinglogo{
	height: 5.5rem;
	width: auto;
}

.listingicon{
	margin-bottom: 0.1rem;
}

.viewfranchiseprofile{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #AAA;
}

.postreadmore{
width: 100%;
margin-bottom: 0;
padding: 1rem 0;
background: rgba(51, 51, 51, 0.95);
font-size: 0.7rem;
color: #fff;
font-weight: 600;
letter-spacing: 3px;
transition-duration: 300ms;
}

.themoneyzoneenter{
position: absolute;
bottom: 0;
width: 100%;
margin-bottom: 0;
padding: 1rem 0;
background: rgba(27, 27, 27, 0.2);
font-size: 0.7rem;
color: #fff;
font-weight: 600;
letter-spacing: 3px;
transition-duration: 300ms;
}

.indexthemoneyzone:hover .themoneyzoneenter{
  padding: 1.2rem 0;
  transition-duration: 300ms;
}

.postimageoverlay{
	background: rgba(51, 51, 51, 0.6);
}

.pricerange{
	background: #363636;
	border-top: 1px solid #2E2E2E;
	border-bottom: 1px solid #2E2E2E;
	transition-duration: 300ms;
}

.pricerange:hover{
	background: #333;
	transition-duration: 300ms;
}

.latestlogo{
	height: 2.5rem;
}

.latestlogocontainer{
	background: #fff;
}

.latestbb{
	border-bottom: 1px solid #aaa;
}

.latesticon{
	height: 1em;
}

.latestlisting{
	border: 1px solid #c2c2c2;
	transition-duration: 300ms;
}

.latestlisting:hover{
	border: 1px solid #A9A9A9;
	transition-duration: 300ms;
}

.spotlightlogo{
	height: 3rem
}

.eventlearnmore{
	margin-bottom: 0;
	background: #353535;
	padding: 0.4em 0;
	color: #717171;
	font-size: 0.7rem;
}

.eventcontainer{
	border: 1px solid #353535;
	transition-duration: 300ms;
}

.eventcontainer:hover{
	border: 1px solid #212121;
	transition-duration: 300ms;
}