// Place all the styles related to the industry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.industrybutton{
	background: #cecece;
	transition-duration: 300ms;
}

.industrybutton:hover{
	background: #c2c2c2;
	transition-duration: 300ms;
}
.industrytitle{
	font-family: "Ubuntu";
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.singlelisting{
	background: #fff;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	transition-duration: 300ms;
}

.singlelisting:hover{
	border: 1px solid #A9A9A9;
	transition-duration: 300ms;
}

.listinglogo{
	height: 5.5rem;
	width: auto;
}

.listingicon{
	margin-bottom: 0.1rem;
}

.viewfranchiseprofile{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #AAA;
}