// Place all the styles related to the insights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datatype{
color: #999999;
}

.infotype{
font-family: ubuntu;
font-weight: 600;
text-transform: uppercase;
}

span.datamargin {
margin-left: 1.3rem;
}
