// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spinner{
	background-image: image-url('spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.latestlisting{
	border: 1px solid #c2c2c2;
	transition-duration: 300ms;
}

.latestlisting:hover{
	border: 1px solid #A9A9A9;
	transition-duration: 300ms;
}

.latesticon{
	height: 1em;
}

.spotlightlogo{
	height: 3rem
}

.latestbb{
	border-bottom: 1px solid #aaa;
}

.logoborder{
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
}

#newstorycontainer{
	background: #cecece;
}

ul,
ol,
dl {
font-size: 0.9rem;
}

.oneclickenquiry{
font-size: 0.8rem;
font-weight: 500;
font-family: "Ubuntu";
background: #fff;
border-radius: 2px;
padding: 0.7rem 3rem;
}

.newstoryform::-webkit-input-placeholder {
   color: #333;
}

.newstoryform:focus::-webkit-input-placeholder{
   color: #333;
}

.newstoryform:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

.newstoryform::-moz-placeholder {  /* Firefox 19+ */
   color: #333; 
}

.newstoryform:-ms-input-placeholder {  
   color: #333;
}

.new_story input[type="text"]{
	background: #ececec;
	box-shadow: none;
	border: none;
	color: #333;
	border-bottom: 1px solid #262626s;
	font-size: 1rem;
	font-weight: 100;
}

.new_story input[type="text"]:focus{
	background: #efefef;
	box-shadow: none;
	border: none;
	color: #000;
	border-bottom: 1px solid #262626s;
	font-size: 1rem;
	font-weight: 100;
}

.new_story textarea{
	background: #ececec;
	box-shadow: none;
	border: none;
	color: #333;
	border-bottom: 1px solid #262626s;
	font-size: 0.9rem;
	font-weight: 100;
	height: 5rem
}

.charcount1{
	position: absolute;
	right: 2rem;
}

.new_story textarea:focus{
	background: #efefef;
	box-shadow: none;
	border: none;
	color: #333;
	border-bottom: 1px solid #262626s;
	font-size: 0.9rem;
	font-weight: 100;
	height: 5rem
}

.storyborder{
	border-top: 1px solid #B0B0B0;
	height: 6.9rem;
}


.new_story input[type="submit"]{
width: 100%;
border: none;
box-shadow: none;
background: #ececec;
color: #333;
outline: none;
padding: 1rem 0;
font-weight: 500;
font-size: 0.9rem;
text-transform: uppercase;
border-bottom: rgb(74, 192, 49) 1px solid;
transition-duration: 300ms;
}

.new_story input[type="submit"]:hover{
	background: #efefef;
}


.newstorybutton{
	font-size: 0.7rem;
	background: #C2C2C2;
	padding: 0.4rem 1rem 0.4rem 1rem;
	border-radius: 3px;
	margin-left: 1rem;
	text-transform: uppercase;
	cursor: pointer
}

.new_listing input[type="text"], .new_lead input[type="text"]{
	background: #373737;
	box-shadow: none;
	border: none;
	color: #fff;
	border-bottom: 1px solid #262626s;
	font-size: 1rem;
	font-weight: 100;
}


.new_listing select, .new_lead select{
	background-color: #373737;
	box-shadow: none;
	border: none;
	color: #A9A9A9;
	font-size: 0.9rem;
	border-bottom: 1px solid #262626s;
	font-weight: 100;
	outline: none;
}

.new_lead input[type="text"]{
	background-color: #373737;
	box-shadow: none;
	border: none;
	color: #fff;
	border-bottom: 1px solid #262626s;
	font-size: 1rem;
	font-weight: 100;
	outline: none;
}

.new_lead input[type="text"]{
	height: 2.3rem;
	font-size: 0.9rem;
}

.new_listing input[type="submit"]{
width: 100%;
border: none;
box-shadow: none;
background: #434343;
color: #fff;
outline: none;
padding: 1rem 0;
font-weight: 500;
font-size: 0.9rem;
text-transform: uppercase;
border-bottom: rgb(74, 192, 49) 1px solid;
transition-duration: 300ms;
}

.new_listing input[type="submit"]:hover, .new_lead input[type="submit"]:hover{
	background: #404040;
}


.new_listing textarea{
	background: #373737;
	box-shadow: none;
	border: none;
	color: #fff;
	border-bottom: 1px solid #262626s;
	font-size: 0.9rem;
	font-weight: 100;
	height: 5rem
}

.new_listing .textareabig{
	height: 20rem;
}

.statsrow{
	border-bottom: 1px solid #c9c9c9;
}

.iconcolumn{
	background: #e2e2e2;
	padding: 0.5rem 0;
}

.facebookcolumn{
	background: #3E4B67;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.twittercolumn{
	background: #246F8C;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.googlepluscolumn{
	background: #85453D;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.linkedincolumn{
	background: #245A74;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.facebookcolumn:hover{
	background: #3E4B67;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.twittercolumn:hover{
	background: #246F8C;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.googlepluscolumn:hover{
	background: #85453D;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}

.linkedincolumn:hover{
	background: #245A74;
	padding: 0.5rem 0;
	transition-duration: 300ms;
}


.column{
	background: #00aced;
	padding: 0.5rem 0;
}

.stattext{
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0.7rem;
}

.requestinformation{
	background: #333;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	padding: 0.8rem 3rem;
	margin-bottom: 0;
}

