<p style="font-family:'arial';"><b><%= @listing.franchisename %>,</b>
<br />
UK-Franchise.co.uk has generated a new lead for your franchise. This lead was created when a user of our site specifically requested information from your organisation regarding the franchise opportunities you provide.
<br />
<b>You can access this lead through your insights panel: https://www.uk-franchise.co.uk/insights/dashboard</b>
<br />
<p>If you have forgot your password, recover it here: https://www.uk-franchise.co.uk/franchises/password/new
<br />
You can then utilise the contact information provided to directly communicate with the interested personal, we recommend communicating with them via email initially. We would also suggest having a content-rich digitial information pack to send them.
<br />
To your success,
<br />
<b>The UKF Team</b>
<i>www.uk-franchise.co.uk</i></p>